@charset "utf-8";

@font-face { font-family: "Gilroy"; font-style: normal; font-weight: 400; src: local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.ttf") format("opentype"); }
@font-face { font-family: "Gilroy"; font-style: normal; font-weight: 600; src: local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.ttf") format("opentype"); }
@font-face { font-family: "Gilroy"; font-style: normal; font-weight: 700; src: local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.ttf") format("opentype"); }
@font-face { font-family: "Noto Sans TC"; font-style: normal; font-weight: 400; src: local("NotoSansTC-Regular"), url("../fonts/NotoSansTC-Regular.ttf") format("opentype"); }
@font-face { font-family: "Noto Sans TC"; font-style: normal; font-weight: 600; src: local("NotoSansTC-SemiBold"), url("../fonts/NotoSansTC-SemiBold.ttf") format("opentype"); }
@font-face { font-family: "Noto Sans TC"; font-style: normal; font-weight: 700; src: local("NotoSansTC-Bold"), url("../fonts/NotoSansTC-Bold.ttf") format("opentype"); }

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  object-fit: cover;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
}

button,
input {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

button,
summary,
[type="submit"] {
  cursor: pointer;
}

input {
  display: inline-block;
  padding: 0.25rem 2rem;
  border: 0.0625rem solid var(--clr-dark-grey);
  background-color: var(--clr-off-white);
  color: var(--clr-dark-grey);
  font-size: 0.8125rem;
  line-height: inherit;
}

/* RESET - End */

/* GLOBAL - Start */

:root {
  --clr-white: #ffffff;
  --clr-white-80: #ffffffcc;
  --clr-off-white: #fafafa;
  --clr-very-light-grey: #f0f0f0;
  --clr-border: #dddddd;
  --clr-light-grey: #a9a9a9;
  --clr-medium-grey: #999999;
  --clr-dark-grey: #2d2d2d;
  --clr-black: #000000;
  --clr-green: #4d623b;
  --clr-green-alt: #354328;
  --clr-cream: #fffcf0;
  --clr-light-gold: #d8c8b1;
  --clr-gold: #b28248;
  --clr-light-turquoise: #d4e6e0;
  --clr-turquoise: #9ec1c3;
  --clr-light-green: #789a8c;
  --shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 0.25);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  background-color: var(--clr-very-light-grey);
  color: var(--clr-dark-grey);
  font-family: Gilroy, "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1;
}

strong {
  font-weight: 600;
}

hr {
  border-width: 0.0625rem 0 0 0;
  border-color: var(--clr-medium-grey);
}

/* GLOBAL - End */

/* Utility - Start */

.pc-only {
  display: none;
}

@media (min-width: 60rem) {

  .sp-only {
    display: none;
  }

  .pc-only {
    display: block;
  }

}

/* -------- */

a.link-green {
  color: var(--clr-green);
  text-decoration: underline;
}

a.link-green:hover,
a.link-green:focus-visible {
  color: var(--clr-green-alt);
}

/* -------- */

.btn {
  display: inline-block;
  padding: 0.25em 2em;
  border: 0.0625rem solid var(--clr-dark-grey);
  color: var(--clr-dark-grey);
  font-size: 0.8125rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--clr-dark-grey);
  color: var(--clr-white);
}

.btn.btn-green {
  border-color: var(--clr-green);
  background-color: var(--clr-green);
  color: var(--clr-white);
}

.btn.btn-green:hover,
.btn.btn-green:focus-visible {
  border-color: var(--clr-green-alt);
  background-color: var(--clr-green-alt);
}

.btn.btn-turquoise {
  border-color: var(--clr-turquoise);
  background-color: var(--clr-turquoise);
  color: var(--clr-white);
}

.btn.btn-turquoise:hover,
.btn.btn-turquoise:focus-visible {
  border-color: var(--clr-light-turquoise);
  background-color: var(--clr-light-turquoise);
}

.btn.btn-lg {
  padding: 0.5em 3em;
}

/* -------- */

.main-heading-group {
  display: grid;
  align-content: center;
  padding: 1rem;
  height: clamp(12rem, 3rem + 25vw, 18rem);
  background-color: var(--clr-off-white);
  text-align: center;
}

.main-heading-group > h1 {
  margin-bottom: 0.5rem;
  font-size: clamp(2rem, -0.625rem + 7.292vw, 3.75rem);
  font-weight: bold;
  text-transform: uppercase;
}

.main-heading-group > p {
  color: var(--clr-medium-grey);
  font-size: clamp(0.625rem, 0.063rem + 1.563vw, 1rem);
}

/* -------- */

.twocol {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

@media (min-width: 36rem) {

  .twocol {
    flex-direction: row;
    margin: 0;
  }

  .twocol.reversed {
    flex-direction: row-reverse;
  }

  .twocol > * {
    width: 50%;
  }

}

/* -------- */

.content-text {
  padding: 2rem 2rem;
  background-color: var(--clr-white);
}

.content-text > .date {
  color: var(--clr-medium-grey);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
}

.content-text > h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.content-text > p,
.content-text > ul {
  margin-bottom: 1em;
  font-family: sans-serif;
}

.content-text > ul {
  padding-left: 2em;
  list-style-type: disc;
}

.content-text > .btn {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.content-text > :last-child {
  margin-bottom: 0;
}

.content-text ~ img {
  width: 100%;
}

@media (min-width: 60rem) {

  .content-text {
    padding: 8rem max(calc(50% - 30rem), 4rem);
    font-size: 1.5rem;
  }

  .content-text > .date {
    font-size: 1.25rem;
  }

  .content-text > h2 {
    margin-bottom: 2rem;
  }

  .content-text > p {
    text-align: center;
  }

}

/* -------- */

.whatsapp-number {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.circled-icon {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: scale-down;
  margin-bottom: 0.5rem;
  background-color: var(--clr-very-light-grey);
  clip-path: circle();
}

/* -------- */

.slick-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.slick-header {
  display: grid;
  align-items: end;
  gap: 1rem;
}

.slick-header > h2 {
  font-size: 1.25rem;
  text-align: center;
}

.slick-filter-wrapper {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  border-bottom: 0.0625rem solid var(--clr-light-grey);
}

.slick-filter-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.125rem solid transparent;
  color: var(--clr-medium-grey);
  font-size: 0.625rem;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.slick-filter-button:hover,
.slick-filter-button:focus-visible {
  color: var(--clr-dark-grey);
}

.slick-filter-button.active {
  border-color: var(--clr-green);
}

.slick-search-form {
  grid-column: 1 / -1;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1.5rem;
}

.slick-item {
  padding: 1rem;
  vertical-align: top;
}

.slick-dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 0.75rem;
}

.slick-dots > li > button {
  font-size: 0;
}

.slick-dots > li > button::before {
  content: "";
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--clr-medium-grey);
  transition: background-color 0.2s ease-in-out;
}

.slick-dots > li > button:where(:hover, :focus-visible)::before,
.slick-dots > li.slick-active > button::before {
  background-color: var(--clr-black);
}

.slick-paginate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.slick-paginate > li {
  color: var(--clr-light-grey);
  font-weight: 600;
}

.slick-paginate > li.slick-active {
  color: var(--clr-black);
}

@media (min-width: 60rem) {

  .slick-wrapper {
    gap: 2rem;
    padding: 4rem;
  }

  .slick-header {
    grid-template-columns: 1fr auto;
    column-gap: 0;
  }

  .slick-header > h2 {
    padding-bottom: 0.75rem;
    border-bottom: 0.0625rem solid var(--clr-light-grey);
    text-align: left;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
  }

  .slick-filter-wrapper {
    justify-content: flex-end;
  }

  .slick-filter-button {
    font-size: 0.875rem;
  }

  .pgrid-slick {
    width: min(54rem, 100%);
    margin-left: auto;
    margin-right: auto;
  }

}

/* Utility - End */

/* Header - Start */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: var(--clr-dark-grey);
  color: var(--clr-white);
}

.logo-link {
  height: 2rem;
  transition: opacity 0.2s ease-in-out;
}

.logo-link:hover,
.logo-link:focus-visible {
  opacity: 0.5;
}

.sp-nav-btn {
  display: block;
}

.sp-nav-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  padding: 3rem 1rem 1rem 1rem;
  background-color: var(--clr-dark-grey);
  color: var(--clr-white);
  transform: translateX(100%);
  z-index: 900;
  transition: transform 0.2s ease-in-out;
}

.sp-nav-menu.show {
  transform: none;
}

.sp-nav-menu-header {
  position: absolute;
  top: 0.5rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sp-nav-menu-header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sp-nav-menu-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 18rem;
  max-height: 100%;
  overflow-y: auto;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05ch;
}

.sp-nav-menu-body a {
  transition: opacity 0.2s ease-in-out;
}

.sp-nav-menu-body a:hover,
.sp-nav-menu-body a:focus-visible {
  opacity: 0.5;
}

.sp-nav-sub {
  display: flex;
  flex-direction: column;
  color: var(--clr-medium-grey);
  font-size: 1rem;
}

.sp-nav-two-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.sp-nav-two-buttons > a {
  padding: 0.5rem;
  border: 0.0625rem solid;
  font-size: 1rem;
  text-align: center;
}

.pc-nav > ul {
  display: flex;
  gap: 2rem;
}

.pc-nav > li {
  flex-shrink: 0;
}

.pc-nav a {
  transition: opacity 0.2s ease-in-out;
}

.pc-nav a:hover,
.pc-nav a:focus-visible {
  opacity: 0.5;
}

.pc-nav-rolldown {
  position: relative;
}

.pc-nav-rolldown-content {
  position: absolute;
  top: calc(100% + 0.75rem);
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  width: max-content;
  background-color: var(--clr-white-80);
  color: var(--clr-dark-grey);
  text-align: center;
  z-index: 2;
  box-shadow: var(--shadow);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.pc-nav-rolldown-content a {
  display: block;
  padding: 0.25rem;
}

.pc-nav-rolldown:hover .pc-nav-rolldown-content,
.pc-nav-rolldown:focus-visible .pc-nav-rolldown-content {
  visibility: visible;
  opacity: 1;
}

/* Header - End */

/* Footer - Start */

.footer-backtotop {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--clr-white);
}

.footer-backtotop-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--clr-light-grey);
  transition: color 0.2s ease-in-out;
}

.footer-backtotop-button:hover,
.footer-backtotop-button:focus-visible {
  color: var(--clr-green);
}

.footer-body {
  padding: 5rem 2.5rem;
  background-color: var(--clr-dark-grey);
  color: var(--clr-white);
  font-size: 0.75rem;
}

.footer-body h2 {
  margin-bottom: 2rem;
  font-size: 1.125rem;
}

.footer-top {
  display: grid;
  gap: 2rem;
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-socials {
  display: flex;
  align-items: center;
}

.footer-socials a {
  transition: opacity 0.2s ease-in-out;
}

.footer-socials a:hover,
.footer-socials a:focus-visible {
  opacity: 0.5;
}

.footer-copyright {
  text-transform: uppercase;
}

@media (min-width: 36rem) {

  .footer-body h2 {
    font-size: 1.25rem;
  }

  .footer-top {
    grid-template-columns: repeat(2, 1fr);
    max-width: 36rem;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 36rem;
  }

}

@media (min-width: 60rem) {

  .footer-body {
    font-size: 0.875rem;
  }

  .footer-top {
    grid-template-columns: 2fr 2fr 1fr;
    max-width: 54rem;
  }

  .footer-bottom {
    max-width: 54rem;
  }

}

/* Footer - End */

/* Page Content - Start */

.cta-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--clr-white);
}

.cta-locations {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
}

.cta-locations a {
  position: relative;
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: var(--clr-medium-grey);
  font-size: 0.625rem;
  transition: color 0.2s ease-in-out;
}

.cta-locations a:hover,
.cta-locations a:focus-visible {
  color: var(--clr-dark-grey);
}

.cta-locations a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: var(--clr-green);
  transition: height 0.2s ease-in-out;
}

.cta-locations a.active::after {
  height: 0.1875rem;
}

.cta-booking {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 0.75rem 2rem;
  background-color: var(--clr-white);
}

@media (min-width: 60rem) {

  .cta-locations a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  .cta-booking {
    position: static;
    padding: 0;
  }

}

/* -------- */

.top-banner-img {
  width: 100%;
  aspect-ratio: 2 / 1;
}

.top-banner-inset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: var(--clr-white);
}

.top-banner-inset > h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.top-banner-inset > h1 > small {
  display: block;
  margin-bottom: 1rem;
  color: var(--clr-medium-grey);
  font-size: 1.5rem;
}

.top-banner-inset > h1::after {
  content: "";
  display: block;
  width: 3rem;
  margin-top: 1rem;
  border-top: 0.375rem solid;
}

.top-banner-inset > p {
  font-size: clamp(0.75rem, 0.375rem + 1.042vw, 1rem);
}

@media (min-width: 60rem) {

  .top-banner {
    position: relative;
  }

  .top-banner-img {
    min-height: 24rem;
    aspect-ratio: 3 / 1;
  }

  .top-banner-inset {
    position: absolute;
    top: 0;
    left: calc(50% - 27rem);
    width: 18rem;
    min-height: 24rem;
  }

}

/* -------- */

.location-grid {
  display: grid;
  gap: 1rem;
  padding: 2rem 1rem;
}

.location-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 2rem 4rem 2rem;
  background-color: var(--clr-white);
}

.location-grid-item.nobg {
  background-color: transparent;
}

.location-grid-item > h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.location-grid-item > p {
  color: var(--clr-medium-grey);
  margin-bottom: 2rem;
}

.location-grid-item > ul {
  padding-left: 2em;
}

.location-grid-item > ul > li {
  position: relative;
}

.location-grid-item > ul > li::before {
  content: url(../icons/icon_checkmark_black.svg);
  position: absolute;
  top: 0;
  right: calc(100% + 0.5em);
}

.location-grid-decor {
  height: 24rem;
}

.location-grid-decor > img {
  width: 100%;
  height: 100%;
}

@media (min-width: 60rem) {

  .location-grid {
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0 3rem 0;
    margin-top: -1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .location-grid-item {
    height: 24rem;
    padding: 2rem;
  }

}

/* -------- */

.location-twocol-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 4rem;
  background-color: var(--clr-white);
}

.location-twocol-body > h2 {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}

.location-twocol-body > p {
  color: var(--clr-medium-grey);
  margin-bottom: 2rem;
}

@media (min-width: 36rem) {

  .location-twocol {
    height: 24rem;
  }

}

@media (min-width: 60rem) {

  .location-twocol {
    height: 36rem;
  }

  .location-twocol-body {
    padding: 2rem 8rem;
  }

  .location-twocol-body > h2 {
    font-size: 2.5rem;
  }

  .location-twocol-body > p {
    font-size: 1.5rem;
  }

  .location-twocol-body > .btn {
    font-size: 1.25rem;
  }

}

/* -------- */

.package-details {
  height: 32rem;
  overflow-y: auto;
  padding-bottom: 1rem;
  border: 0.0625rem solid var(--clr-border);
  background-color: var(--clr-white);
}

.package-details > img {
  width: 100%;
  height: 12rem;
  margin-bottom: 1.5rem;
}

.package-details > :not(img) {
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

.package-details > h3 {
  margin-bottom: 1rem;
}

.package-details > p {
  margin-bottom: 0.25rem;
}

.package-details > ul {
  padding-left: 2em;
  margin-bottom: 0.25rem;
  list-style-type: disc;
}

/* -------- */

.location-data-wrapper {
  padding: 2rem 1rem;
  background-color: var(--clr-white);
}

.location-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: var(--clr-very-light-grey);
}

.location-data h2 {
  color: var(--clr-light-grey);
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
}

.location-data p {
  font-size: 1rem;
}

.location-data .btn {
  place-self: center;
}

@media (min-width: 36rem) {

  .location-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: fit-content;
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (min-width: 60rem) {

  .location-data-wrapper {
    padding: 2rem 3rem;
  }

  .location-data {
    padding: 3rem;
  }

  .location-data h2,
  .location-data p {
    font-size: 1.25rem;
  }

}

/* -------- */

.facility-twocol {
  background-color: var(--clr-white);
}

.facility-twocol-body {
  padding: 2rem;
}

.facility-twocol-body > h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.facility-twocol-body > ul {
  padding-left: 2em;
}

.facility-twocol-body > ul > li {
  position: relative;
}

.facility-twocol-body > ul > li::before {
  content: url(../icons/icon_checkmark_black.svg);
  position: absolute;
  top: 0.25em;
  right: calc(100% + 0.5em);
}

.facility-twocol-photo {
  height: 20rem;
}

@media (min-width: 36rem) {

  .facility-twocol {
    height: 24rem;
  }

  .facility-twocol-photo {
    height: 100%;
  }

}

@media (min-width: 60rem) {

  .facility-twocol {
    height: 36rem;
  }

  .facility-twocol-body {
    padding: 3rem 4rem;
  }

  .facility-twocol-body > h2 {
    font-size: 2.5rem;
  }

  .facility-twocol-body > ul {
    font-size: 1.5rem;
  }

}

/* -------- */

.blog-link {
  display: block;
  border: 0.0625rem solid var(--clr-border);
  background-color: var(--clr-white);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.blog-link:hover,
.blog-link:focus-visible {
  transform: translateY(-0.5rem);
  box-shadow: var(--shadow);
}

.blog-link-eyecatch {
  width: 100%;
  aspect-ratio: 6 / 5;
}

.blog-link-body {
  padding: 2rem 2rem 3rem 2rem;
}

.blog-link-body > .date {
  margin-bottom: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.2ch;
  text-transform: uppercase;
}

.blog-link-body > h3 {
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
}

@media (min-width: 36rem) {

  .blog-link {
    position: relative;
    text-align: center;
  }

  .blog-link-body {
    padding: 1.5rem 1.5rem 3rem 1.5rem;
  }

  .blog-link-body > .date {
    font-size: 0.75rem;
  }

  .blog-link-body > h3 {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  .blog-link-body > .btn {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto;
    transform: translateY(-50%);
  }

}

/* -------- */

.gallery-image {
  position: relative;
  top: 0;
  transition: top 0.2s ease-in-out;
}

.gallery-image:hover,
.gallery-image:focus-visible {
  top: -1rem;
}

.gallery-image > img {
  aspect-ratio: 1;
}

.gallery-image > p {
  margin-top: 0.75rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
}

/* -------- */

.contact-info {
  display: grid;
  align-content: center;
  padding: 1rem;
  height: clamp(12rem, 3rem + 25vw, 18rem);
  background-color: var(--clr-white);
  color: var(--clr-green);
  text-align: center;
}

.contact-info > h2 {
  font-size: clamp(1rem, 0.25rem + 2.083vw, 1.5rem);
  text-transform: uppercase;
}

.contact-info > p {
  font-size: clamp(2rem, -0.625rem + 7.292vw, 3.75rem);
  font-weight: bold;
}

/* -------- */

.faq-wrapper {
  display: grid;
  gap: 2rem;
  padding: 3rem 1.5rem;
  background-color: var(--clr-white);
}

.faq-item {
  border: 0.0625rem solid var(--clr-medium-grey);
  border-radius: 0.25rem;
  font-family: sans-serif;
}

.faq-item > summary {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.1875rem;
  background-color: var(--clr-very-light-grey);
  font-size: 1rem;
  text-transform: uppercase;
}

.faq-item > summary::before {
  content: "Q";
  font-weight: 600;
}

.faq-item > summary::after {
  content: url(../icons/icon_chevron_down_black.svg);
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

.faq-item[open] > summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.faq-item[open] > summary::after {
  transform: scaleY(-1);
}

.faq-item > div {
  padding: 1rem 2rem;
  font-size: 0.75rem;
}

.faq-item > div ul {
  padding-left: 2em;
  list-style-type: disc;
}

.faq-item > div ol {
  padding-left: 2em;
}

@media (min-width: 60rem) {

  .faq-wrapper {
    gap: 3rem;
    padding: 3rem;
  }

  .faq-item > summary {
    font-size: 1.25rem;
  }

  .faq-item > div {
    font-size: 1rem;
    padding: 1rem 3rem;
  }

}

/* -------- */

.pricelist-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  max-width: 54rem;
  margin-left: auto;
  margin-right: auto;
}

/* -------- */

.popup-gallery {
  display: grid;
  grid-auto-rows: 30vw;
  gap: 1rem;
  background-color: var(--clr-white);
}

.popup-gallery > img {
  width: 100%;
  height: 100%;
}

@media (min-width: 36rem) {

  .popup-gallery {
    grid-template-columns: 2fr 1fr 2fr;
  }

  .popup-gallery > img:nth-of-type(1) {
    grid-column: 1 / 4;
  }

  .popup-gallery > img:nth-of-type(2) {
    grid-column: 1 / 3;
  }

  .popup-gallery > img:nth-of-type(5) {
    grid-column: 2 / 4;
  }

}

/* Page Content - End */

/* Modifiers: The Yard - Start */

.bg-cream {
  background-color: var(--clr-cream);
}

.bg-light-turquoise {
  background-color: var(--clr-light-turquoise);
}

/* -------- */

.the-yard .main-heading-group {
  background-color: var(--clr-cream);
  color: var(--clr-light-green);
}

.the-yard .main-heading-group > p {
  color: var(--clr-light-green);
}

/* -------- */

.the-yard .top-banner-inset {
  color: var(--clr-gold);
}

.the-yard .top-banner-inset > h1,
.the-yard .top-banner-inset > h1 > small {
  color: var(--clr-light-green);
}

.the-yard .top-banner-inset > h1::after {
  border-top-color: var(--clr-light-gold);
}

.the-yard .for-age {
  width: fit-content;
  padding: 0 0.25em;
  margin-left: auto;
  border-style: solid;
  border-width: 0.9375rem 0.75rem 0.625rem 2.4375rem;
  border-image: url("../images/for-age.svg") 15 12 10 39 / 0.9375rem 0.75rem 0.625rem 2.4375rem;
  color: var(--clr-turquoise);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.0625rem;
}

/* -------- */

.the-yard .location-grid-item {
  background-color: var(--clr-cream);
}

.the-yard .location-grid-item.nobg {
  background-color: transparent;
}

.the-yard .location-grid-item > h2 {
  color: var(--clr-light-green);
}

.the-yard .location-grid-item > ul {
  color: var(--clr-gold);
}

.the-yard .location-grid-item > ul > li::before {
  content: url(../icons/icon_checkmark_gold.svg);
}

/* -------- */

.the-yard .gallery {
  background-color: var(--clr-cream);
}

/* Modifiers: The Yard - End */